<div class="flex flex-wrap content-center mb-4">
  <div class="w-full lg:w-5/12 p-4">
    <TalkImage src={{@talk.image}} alt={{@talk.imageAlt}} @imageAttribution={{@talk.imageAttribution}} />
  </div>
  <div class="w-full lg:w-6/12 p-4">
    <Title>{{@talk.title}}</Title>
    <Author>{{@talk.author}}</Author>
    <Description>{{@talk.description}}</Description>
    {{#if @talk.links}}
      <div class="pt-4 font-bold text-center">Links:</div>
      <ul>
      {{#each @talk.links as |linkUrl|}}
        <li class="text-center"><a href={{linkUrl}} class="link-underline">{{linkUrl}}</a></li>
      {{/each}}
      </ul>
    {{/if}}
  </div>
</div>