<div class="flex flex-wrap content-center mb-4">
  <div class="w-full lg:w-5/12 p-4">
    <TalkImage src={{@talk.image}} alt={{@talk.imageAlt}} @imageAttribution={{@talk.imageAttribution}} />
  </div>
  <div class="w-full lg:w-6/12 p-4">
    <Title>{{@talk.title}}</Title>
    <Author>{{@talk.author}}</Author>
    <Description>{{@talk.description}}</Description>
  </div>
</div>
{{!-- https://lgcolella.github.io/gatsby-starter-developer-blog/ --}}